<h1>New Measurement</h1>
<%= form_for @measurement, validate: true, url: measurement_index_path do |f| %>
	<p>
		<%= f.label :latitude %><br>
		<%= f.text_field :latitude %>
	</p>
	<p>
		<%= f.label :longitude %><br>
		<%= f.text_field :longitude %>
	</p>
	<p>
		<%= f.label :quality %><br>
		<%= f.text_field :quality %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>